<h2>Funds Transfer</h2>

<form [formGroup]="form" (ngSubmit)="process()">
	<table>
		<tr>
			<td>From Account</td>
			<td>
				<input type="text" size="30" formControlName="srcAcct">
			</td>
		</tr>
		<tr>
			<td>To Account</td>
			<td>
				<input type="text" size="30" formControlName="destAcct">
			</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>
				<input type="number" min="1" step=".1" formControlName="amount">
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button type="submit" [disabled]="form.invalid">
					Transfer
				</button>
			</td>
		</tr>
	</table>
</form>
