<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Invoice</title>
	</head>
	<body>

		<h1>Invoice</h1>

		<table data-th-object="${invoice}" style="margin-botton: 3vh;">
			<tr>
				<td>Invoice id:</td>
				<td>
					<span data-th-text="*{invoiceId}"></span>
				</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td>
					<span data-th-text="*{shippingAddress.name}"></span>
				</td>
			</tr>
			<tr>
				<td>Address:</td>
				<td>
					<span data-th-text="*{shippingAddress.address}"></span>
				</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>
					<span data-th-text="*{total}"></span>
				</td>
			</tr>
		</table>

		<form method="GET" data-th-action="@{/}">
			<button type="submit">Back</button>
		</form>
		
	</body>
</html>
