<h2>Headline News</h2>

<div *ngIf="country$ | async ;else waiting ">
  <form [formGroup]="newsForm" (ngSubmit)="getNews()">
    <table>
      <tr>
        <td>Country</td>
        <td>
          <select formControlName="country" (change)="onSelectedCountry($event)">
            <option *ngFor="let c of countryList" [value]="c.code">
              {{ c.name | titlecase}}
            </option>
          </select>
          {{ flag }}
        </td>
      </tr>
      <tr>
        <td>Categories</td>
        <td>
          <select formControlName="category">
            <option *ngFor="let c of categories" [value]="c">{{ c | titlecase }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" [disabled]="newsForm.invalid">
            Get News
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>

<div *ngIf="news$ | async as articles; else waiting">
  <h2>News</h2>

  <div *ngFor="let a of articles">
    <h2>{{ a.title }}</h2>
    <h5>{{ a.author }}</h5>
    <p>
      <img [src]="a.urlToImage">
      <br>
      {{ a.content }}
    </p>
  </div>

</div>

<ng-template #waiting>
  <h1>Please Wait</h1>
</ng-template>
