<h1>Friend</h1>

<form [formGroup]="form" (ngSubmit)="processForm()">

  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" size="30" formControlName="name" [readOnly]="readOnly">
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input type="email" size="30" formControlName="email">
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>
        <input type="tel" size="30" formControlName="phone">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <ng-content></ng-content>
        <!--
          <button type="submit" [disabled]="form.invalid"> Add </button>
        -->
      </td>
    </tr>
  </table>

</form>
