<form [formGroup]="doForm" (ngSubmit)="processDelivery()">

  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" size="30" formControlName="name">
        <span *ngIf="hasError('name')">
          Please enter your name
        </span>
      </td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <input type="text" size="30" formControlName="address">
        <span *ngIf="hasError('address')">
          Please enter your address
        </span>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input type="email" size="30" formControlName="email">
      </td>
    </tr>
    <tr>
      <td>Delivery Date:</td>
      <td>
        <input type="date" size="30" formControlName="deliveryDate">
      </td>
    </tr>
    <tr>
      <td>Session:</td>
      <td>
        AM <input type="radio" value="AM" formControlName="session">
        PM <input type="radio" name="session" value="PM" formControlName="session">
      </td>
    </tr>
    <tr>
      <td>Options:</td>
      <td>
        Insurance <input type="checkbox" formControlName="insurance">
        Priority <input type="checkbox" [formControlName]="priorityCtrlName">
      </td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>
        <textarea cols="30" rows="3" formControlName="comments"></textarea>
      </td>
    </tr>
    <!--
    <tr>
      <td></td>
      <td>
        <p>
          Invalid: {{ doForm.invalid }}, Valid: {{ doForm.valid }}
        </p>
        <p>
          Pristine: {{ doForm.pristine }}, Dirty: {{ doForm.dirty }}
        </p>
      </td>
    </tr>
  -->
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="isFormInvalid()">
          Place Order
        </button>
        <button type="button" (click)="addItem()">Add Item</button>
      </td>
    </tr>
  </table>

  <div *ngIf="itemArray.length > 0; else noItems">
    <h2>Items</h2>
    <table formArrayName="orderItems">
      <tr *ngFor="let it of itemArray.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" size="30" placeholder="Item" formControlName="item">
        </td>
        <td>
          <input type="number" size="5" placeholder="Quantity" formControlName="quantity">
        </td>
        <td>
          <button (click)="deleteItem(i)">X</button>
        </td>
      </tr>
    </table>
  </div>

</form>

<ng-template #noItems>
  <h2> Your order has no items </h2>
</ng-template>
