<h1><code>hello, world ({{ value }})</code></h1>

<app-counter [counter]="10" (onValueChanged)="valueChanged($event)">
</app-counter>

<ul *ngIf="historicalValue.length > 0; else noData">
  <li *ngFor="let i of historicalValue; let idx = index">
    <h3>
        <code>{{ idx + 1 }}</code>. {{ i }}
        <button (click)="deleteValue(idx)">X</button>
    </h3>
  </li>
</ul>

<ng-template #noData>
  <h2>No Data</h2>
</ng-template>

<!--

<app-my-component [title]="title" imageUrl="/assets/pitbull.jpg">
</app-my-component>

<app-my-component title="Dov dancing bear">
</app-my-component>
-->
